<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Room Code</ion-label>
      <ion-input type="text" [(ngModel)]="roomCode"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="scan()">
          <ion-icon name="qr-code"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <zxing-scanner
    *ngIf="isScanning"
    (scanSuccess)="scanSuccess($event)"
  ></zxing-scanner>

  <div class="ion-padding">
    <ion-button expand="block" (click)="joinRoom()">
      Join Room
    </ion-button>
  </div>


</ion-content>
