<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="stacked">
        Token
      </ion-label>
      <ion-textarea
        [(ngModel)]="token"
        class="ion-text-wrap"
      ></ion-textarea>
      <ion-button
        slot="end"
        color="success"
        (click)="saveToken()"
        [disabled]="!canSave()"
      >
        Save
      </ion-button>
    </ion-item>

  </ion-list>

  <div class="ion-text-center">
    <ion-button color="danger" (click)="resetToken()">
      Reset Token
    </ion-button>
  </div>

  <ion-list>
    <ion-list-header>
      My Rooms
    </ion-list-header>
    <ion-progress-bar *ngIf="!myRooms" type="indeterminate"></ion-progress-bar>
    <ng-container *ngIf="myRooms">
      <ion-note *ngIf="myRooms.length === 0" class="ion-padding">
        No rooms created yet
      </ion-note>
      <ion-item *ngFor="let room of myRooms" >
          <ion-button  slot="start" [routerLink]="'/room'" [queryParams]="{code: room.code}">
            Go
          </ion-button>

        {{ room.name }}
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="deleteRoom(room)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>
  </ion-list>


</ion-content>
